<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
<!--
        <setting name="logImpl" value="STDOUT_LOGGING" />
-->
    </settings>
  <!--  <plugins>
        &lt;!&ndash;mybatis分页插件&ndash;&gt;
        <plugin interceptor="com.github.pagehelper.PageHelper">
            &lt;!&ndash;<property name="dialect" value="postgresql"/>&ndash;&gt;
            <property name="autoRuntimeDialect" value="true"/>
            <property name="offsetAsPageNum" value="false"/>
            <property name="rowBoundsWithCount" value="false"/>
            <property name="pageSizeZero" value="true"/>
            <property name="reasonable" value="true"/>
            <property name="supportMethodsArguments" value="false"/>
            <property name="returnPageInfo" value="none"/>
        </plugin>
        &lt;!&ndash;<plugin interceptor="com.weds.framework.datasource.MybatisGetSqlInterceptor">&ndash;&gt;
        &lt;!&ndash;</plugin>&ndash;&gt;
    </plugins>-->
</configuration>
